#banner_id {
  width: 100%;
  height: auto;
}

.caresoulimage {
  width: 100%;
  height: 60vh;
  z-index: 1;
  object-fit: cover;
  position: center center;
}

@media only screen and (max-width : 767px) {
  .caresoulimage {
    height: 40vh;

  }
}